@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GuiaContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "GuiaDoUsuario.cshtml";
}

  <div class="mobileMargins container-fluid col-centered">
    <div class="container-fluid greyBody"  style="max-width: 1200px; background-color: #f9f9f9;">
    
    <div class="row col-12-md">
    <h2 class="subhead">@Umbraco.Field("subTitle", removeParagraphTags: true)</h2>
		
		
		    <!-- ---------- DYNAMIC HEADER TEST ----------- -->

        @Html.Partial("archetypeSectionHeaderPartial")
    
<!-- ---------- DYNAMIC HEADER TEST ----------- -->
		
		
@if (Model.Content.HasValue("subTitleIcon"))
{
    var caseStudyImagesList1 = Model.Content.GetPropertyValue<string>("subTitleIcon").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var caseStudyImagesCollection1 = Umbraco.TypedMedia(caseStudyImagesList1).Where(x => x != null);

    foreach (var subTitleIcon in caseStudyImagesCollection1)
        {      
            <img src="@subTitleIcon.Url" />      
        }                                                               
}    
            </div>
        <div>
           <h1 class="internal-header">@Umbraco.Field("sectionTitle")</h1>
        </div>
        <p class="intro-text">@Umbraco.Field("pageBodyText", removeParagraphTags: true)</p>
  </div>

<!-- ------------------ Slider ------------------ -->
  
      <div class="sliderBicicletario" style="padding-bottom: 50px">

@if (Model.Content.HasValue("sliderPictures"))
{
    var caseStudyImagesCollection = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliderPictures");

    foreach (var sliderPictures in caseStudyImagesCollection)
        {      
            <div><img  class="img-responsive multiSlides" src="@sliderPictures.Url" /></div>      
        }                                                               
}
  </div>

<!-- ------------------ Slider ------------------ -->

<!-- ------------------ Tabs ------------------ -->

    @Html.Partial("archetypeCustGridTabs")


<!-- ------------------ Tabs ------------------ -->

    </div>
</div>