@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Informacoes>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "GuiaDoUsuario.cshtml";
}

<!-- ------------------ Dynamic Header ------------------ -->

@Html.Partial("archetypeSHeadPartial")

<!-- ------------------ Dynamic Header ------------------ -->

<div class="mobileMargins container-fluid col-centered">
    <div class="container-fluid greyBody"  style="max-width: 1200px; background-color: #f9f9f9;">
    <div class="row col-12-md">
    <h2 class="subhead">@Umbraco.Field("subTitle", removeParagraphTags: true)</h2>

		
@if (Model.Content.HasValue("subIcon"))
{
    var caseStudyImagesList = Model.Content.GetPropertyValue<string>("subIcon").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null);

    foreach (var subIcon in caseStudyImagesCollection)
        {      
            <img class="img-responsive acessiIcon" src="@subIcon.Url" />
        }                                                               
}

		
			
    </div>
    
    
    <div class="row col-md-12 informacoesSubWrap">
      
      <div class="iconLeft">  <p class="informacoesSubHead"><span class="chevronRed">></span></p> </div>
      <div class="contentRight">  <p class="informacoesSubHead">@Umbraco.Field("subHeader", removeParagraphTags: true)</p> </div>

    </div>

<div class="row col-md-12" style="margin-bottom: 35px;">
       @Html.Partial("archetypeInfoPartial")
</div>


<!-- ------------------ Tabs ------------------ -->
<div class="row col-md-12">
    @Html.Partial("archetypeCustGridTabs")
</div>
<!-- ------------------ Tabs ------------------ -->


</div>
