@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = null;
}
@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("infoAtypeItem"))
{
 
 
 <div class="row col-md-12 dezInstrucoesWrap">
      
      <div class="numeroWrap"><p class="dezInstrucoesNumeros">@fieldset.GetValue("infoNumber")</p></div>
      
      
      <div class="iconWrap">


@{
        var imageUrl = fieldset.GetValue<IPublishedContent>("iconInfo").Url;
     }
     <img src="@imageUrl" alt="@fieldset.GetValue("name")" />
  
      </div>
      
      
      <div class="dezBodyWrap"><p class="dezInstrucoesBody">@Html.Raw(@fieldset.GetValue<string>("infoDescription"))</p></div>

    </div>
    
    
}