@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{

    var newsItems = CurrentPage.Site().FirstChild("articlesMain").Children("articlesItem").Where("Visible").OrderBy("CreateDate descending").Take(3);
    
}


<div class="row" style="margin: 25px 0 25px 0;">
      
@foreach (var newsItem in newsItems)
    {  
    
        
                <div class="col-md-4">
         @{
            var image = newsItem;
            if(newsItem.HasValue("newsImage"))
    {
        <img class="img-responsive" src="@image.newsImage.Url" />
    }
}      

                    <h3>@newsItem.Name</h3>
                    <h4>@newsItem.NewsSubtitle</h4>
                    <p>@Umbraco.Truncate(@newsItem.NewsBodyText,100) <a class="" href="@newsItem.Url"><span class="glyphicon glyphicon-chevron-right"></span><span class="popHorasBold"> Ler Mais</span></a></p>
            
                    <a href="@newsItem.Url" class="btn btn-default btn-lg btn-danger"><span class="glyphicon glyphicon-chevron-right"></span> Ler Mais</a>
                </div>
                
        
}        

</div>