@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;


@{
    Layout = null;
}

@foreach(var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("tabsSlider"))
{

<div class="panel panel-default" id="@fieldset.GetValue("anchorID")" style=" border-radius: 0px; border: 0;  background-color: transparent;">
    <div class="susPanelMobile panel-heading @fieldset.GetValue("isOpen")" style="height: 36px; padding: 0; background-color: #@fieldset.GetValue("tabCor");">
    <h2 class="accordionTitle"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#@fieldset.GetValue("nome")">
        <div class="accordionTitle" style="height: 100%; width: 88%; float:left;">@fieldset.GetValue("tabTitle")</div></a></h2>
    </div>

    <div id="@fieldset.GetValue("nome")" class="panel-collapse collapse" style=" background-color: transparent;">
      <div class="panel-body body-copy-grey" style="background-color: transparent;">

            @Html.Raw(@fieldset.GetValue<string>("tabTexto"))

<div class="slider-@fieldset.GetValue("tabNumero")" style="margin-bottom: 50px">

@{
    var typedMultiMediaPicker = fieldset.GetValue<IEnumerable<IPublishedContent>>("selectImage");
    foreach (var item in typedMultiMediaPicker)
    {
        <div class="slick-slide"><img  class="img-responsive multiSlides" src="@item.Url" /></div>
    }
}
  </div>




      </div>
    </div>
  </div>
  
  }
